<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LineControl</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/sb-admin/css/sb-admin-2.min.css" asp-append-version="true">
     <link rel="stylesheet" href="~/css/feedback.kendo.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/kendo/css/Kendo.Schaeffler.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LineControl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LineControl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Device
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="nav-item px-xl-3 py-xl-2">
                                     <a class="dropdown-item" asp-area="" asp-controller="Device" asp-action="Index">Details</a>
                                  </li>
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="Device" asp-action="Create">Add Device</a>
                                  </li>
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="Device" asp-action="History">History</a>
                                  </li>
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="Device" asp-action="Reservation">Reservation</a>
                                  </li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Calibration Order
                              </button>
                              <ul class="dropdown-menu">
                                <li class="nav-item px-xl-3 py-xl-2">
                                  <a class="dropdown-item" asp-area="" asp-controller="CalibrationOrder" asp-action="Index">Details</a>
                                </li>
                                <li class="nav-item px-xl-3 py-xl-2">
                                  <a class="dropdown-item" asp-area="" asp-controller="CalibrationOrder" asp-action="Create">Add Calibration</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="nav-item px-xl-3 py-xl-2">
                                     <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Details</a>
                                  </li>
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Create">Add User</a>
                                  </li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Activity Type
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="nav-item px-xl-3 py-xl-2">
                                     <a class="dropdown-item" asp-area="" asp-controller="ActivityType" asp-action="Index">Details</a>
                                  </li>
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="ActivityType" asp-action="Create">Add Activity</a>
                                  </li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Company Location
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="nav-item px-xl-3 py-xl-2">
                                     <a class="dropdown-item" asp-area="" asp-controller="CompanyLocation" asp-action="Index">Company Location</a>
                                  </li>
                              </ul>
                            </li>
                          </ul>
                           <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Device Class/Model
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="nav-item px-xl-3 py-xl-2">
                                    <a class="dropdown-item" asp-area="" asp-controller="DeviceClassMode" asp-action="Index">Device Details</a>
                                  </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="s-header-content">
              <nav id="s-nav-no-border" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3">
                  <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item dropdown no-arrow">
                    <div class="nav-link dropdown-toggle" href="#" id="userDropdown"
                         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="me-2 d-none d-lg-inline text-gray-600 small">Hello, @User.Identity?.Name!</span>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LineControl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
  <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
  <script src="~/lib/kendo/js/kendo.all.js" asp-append-version="true"></script>
  <script src="~/lib/kendo/js/kendo.aspnetmvc.js" asp-append-version="true"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
  <script src="~/lib/sb-admin/js/sb-admin-2.min.js" asp-append-version="true"></script>
  @Html.Kendo().DeferredScripts(true)
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
