@using LineControllerCore.Models
@model DeviceCalibrationViewModel

@{
  ViewData["Title"] = "DeviceCalibration";
}

<div class="row s-pageTitle">
  <div class="col">
    <h1>Device Calibration</h1>
  </div>
</div>
