.k-button-solid-primary {
    border-color: #00893d;
    color: white;
    background-color: #00893d;
}

.k-button-solid-primary:hover, .k-button-solid-primary.k-hover {
    border-color: #005626;
    background-color: #00632c;
}

.k-button-solid-secondary {
    border-color: #9CA3A6;
    color: #9CA3A6;
    background-color: #ffffff;
}

.k-button-solid-secondary:hover, .k-button-solid-secondary.k-hover {
    border-color: #9CA3A6;
    color: #9CA3A6;
    background-color: #E8EEF1;
}

.k-button-solid-base {
    border-color: #00893d;
    color: #00893d;
    background-color: #ffffff;
}

.k-button-solid-base:hover, .k-button-solid-base.k-hover {
    border-color: #00893d;
    color: #00893d;
    background-color: #BFE1CE;
}