html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../lib/imga.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbar {
  background-color: black !important;
  color: white;
}
.navbar-brand {
  color: white !important;
}
.nav-link{
  color: white !important;
}
.navbar-collapse {
  color: white !important;
}
.navbar-nav .dropdown-item {
  color: white !important; 
}
.btn.dropdown-toggle {
  color: white !important;
}
.dropdown-menu {
  background-color: black; 
}
.dropdown-item:hover {
  background-color:#373636;
}
.btn-primary.s-button {
  background-color: green; 
}
.form-group {
  font-weight: bold;
}
.k-button{
  border-block-color:black;
  border:outset;
}
.s-grid-userEdit{
  background-color:green;
}
.k-icon{
  color:white;
}
span.k-icon.k-i-add {
  color: black;
}

span.k-icon:hover{
  color:green;
}
.s-grid-editActivity {
  background-color: green;
}
.s-grid-deviceEdit {
  background-color: green;
}
.s-grid-deviceModeEdit {
  background-color: green;
}

.s-grid-deviceCalibrationEdit {
  background-color: green;
}

.s-grid-deviceClassModeEdit {
  background-color: green;
}
.s-device-measurementrangelist {
  background-color: #e9ecef;
  height: calc(2.5rem + 4px + var(--bs-body-font-size)*1.5*2);
  opacity: 1;
  width: 100%;
}
input[type="text"],
textarea {
  width: 100%; /* Lățime completă pe container */
  height: 40px; /* Înălțime uniformă pentru toate inputurile */
  box-sizing: border-box; /* Asigură că padding-ul este inclus în lățime și înălțime */
}

.s-customTextArea {
  height: 40px; /* Înălțime uniformă pentru textarea */
}

.container-label {
  display: flex; /* Aliniere orizontală */
  align-items: center; /* Aliniere verticală la mijloc, dacă ai nevoie */
  white-space: nowrap; /* Previne spargerea textului pe două linii */
}
  .s-device-measurementrangelist .k-input-inner {
    -ms-flex-align: normal;
    align-items: normal;
  }

  .s-device-measurementrangelist .k-list, .s-device-measurementrangelist .k-list-item.k-hover, .s-device-measurementrangelist .k-list-item.k-selected, .s-device-measurementrangelist .k-list-item.k-selected.k-hover, .s-device-measurementrangelist .k-list-item.k-selected:hover, .s-device-measurementrangelist .k-list-item:hover, .s-device-measurementrangelist.k-listbox .k-list-scroller {
    background-color: #e9ecef;
    color: #212529;
  }

  .s-device-measurementrangelist .k-list-item.k-focus, .s-device-measurementrangelist .k-list-item:focus {
    box-shadow: none;
  }

  .s-device-measurementrangelist .k-list .k-item {
    padding: .25rem 1rem;
  }